<div class="sidebar-nav">
    <ul class="dashboard-menu">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i>&nbsp;&nbsp;首&nbsp;页</a></li>
        <li><a href="{:U('index')}"><i class="glyphicon glyphicon-list"></i>新闻分类</a></li>
        <li><a href="{:U('newsList')}"><i class="glyphicon glyphicon-list"></i>新闻列表</a></li>
        <!--<li class="active">-->
            <!--<a href="#">-->
                <!--<div class="pointer">-->
                    <!--<div class="arrow"></div>-->
                    <!--<div class="arrow_border"></div>-->
                <!--</div><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;表&nbsp;格</a>-->
        <!--</li>-->

    </ul>
</div>