<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>后台管理</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/bootstrap/css/main.css">
</head>

<body>
<!-- navbar -->
<include file="Application/Admin/View/common/header.html"/>
<!-- 菜单部分 -->
<include file="Application/Admin/View/common/rg_menu.html"/>
<div class="content">
     <div class="mj_welcome">
    欢迎来到百度新闻管理系统
     </div>
</div>
<!-- end navbar -->
<script src="__PUBLIC__/admin/bootstrap/js/jquery-latest.js"></script>
<script src="__PUBLIC__/admin/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
