body{
	background: #660033;
}
.menus {
    border-top: 2px solid #660033;
    border-bottom: 1px solid #660033;
}

.menus .link2.active {
    background-color: #660033;
}

.tc-green {
    color: #660033;
}
