* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background: red;
}

.article {
    height: 200px;
    background: orange;
}

.footer {
    height: 200px;
    background: yellow;

}

.article .left {
    background: #000099;
    height: 40px;
    float: left;
    width:150px;
    margin-left:-100%;
}

.article .middle {
    background: #33CC33;
    height: 40px;
    float:left;
    width:100%;
}

.article .right {
    background: #000099;
    height: 40px;
    float: left;
     width:100px;
    margin-left: -100px;
}
.inner{
   margin-left:150px;
   margin-right:100px;
}